<h1>SimplePages#index</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<h1>Welcome to Code Red Tech</h1>

<%= image_tag("codingpx.jpg", class: "img-responsive") %>

<h2>Your source for beautifully designed and mobile-first webpages and apps!</h2>
