footer {
  padding-top: 15px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: darkred;
  .copyright {
    text-align: right;
  }
}

#wrapper {
  /* Margin bottom by footer height */
  position: relative;
  margin: 0 auto;
  padding-bottom: 6rem;
  height: 100%;
  min-height: 100%;
}

html, body {
  position: relative;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  font-family: 'Alex Brush', cursive;
  background-color: antiquewhite;
}
