<% if signed_in? %>
  <hr>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
  <div class="sed">
    <h3>Add a review</h3>
      <%= f.text_area(:body, cols:60, rows: 4, class: "form-control") %><br>
     <p>Rating: <span class="rating"></span><br></p>
      <p>
        <%= f.submit "Submit", class: "btn btn-default" %>
      </p>
  </div>
  <% end %>
<% end %>
